* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  outline: none !important;
}

.top-nav-section {
  background-color: #123214;
}

.left-nav,
.right-nav {
  flex: 1;
  border-bottom: 5px solid #CBD9DE;
}

.central-nav {
  flex: 4;
  border-bottom: 5px solid #323438;
  padding: 20px 20px 0 0;
}

.nav-title {
  background-color: #fff;
  width: 75%;
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
}

.icons-deco {
  font-size: 21px;
  padding: 5px;
  background-color: #F56726;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: transform .2s;
  font-weight: bold;
}

.main-page-header h5 {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}

.icons-deco:hover {
  transform: scale(1.2);
}

select {
  outline: none;
  background-color: #F56726;
  border: none;
}

.logo-image-style {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.nav-search input {
  border: none;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: bold;
  outline: none;
  width: 75%;
}

.upper-nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F56726;
  padding: 5px 0;
}

.active-button {
  border: 3px solid #fff;
}

.upper-nav-section a, 
.upper-nav-section select {
  color: #fff;
  text-decoration: none;
}

.nav-search {
  position: relative;
}

.nav-fa-search {
  position: absolute;
  right: 30%;
  top: 10px;
  color: #777;
}

.sliding-image {
  width: 100%;
  height: 450px;
}

.donate-button {
  border: none;
  padding: 5px 20px;
}

.carousel-section {
  position: relative;
}

.element-details {
  position: absolute;
  height: 100%;
  top: 0;
  left: 110px;
  width: 39%;
}

.element-details h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 60px;
}

.element-details p {
  font-size: 20px;
  font-weight: bold;
}

.element-details button {
  background-color: #F56726;
  color: #fff;
}

.welcome-message {
  text-align: center;
  padding: 10px;
}

.donate-section-div button {
  border: none;
  padding: 5px 20px;
  color: #fff;
  background-color: #F56726;
}

.donate-section-div {
  display: flex;
  justify-content: center;
  width: 80%;
}

.donate-section-div p {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 20px;
  color: #395723;
}

.search-button,
.partner-button {
  padding: 20px 80px;
  width: 100%;
  background-color: #123214;
}

.search-button button {
  padding: 5px 20px;
  border: none;
  background-color: #F56726;
  color: #fff;
}

.youtube-video-section {
  height: 200px;
}

.lower-home-section {
  width: 80%;
  background-color: #777;
  display: flex;
}

.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-home-section {
  flex: 3;
  background-color: #EAEAEA;
}

.right-home-section {
  flex: 2;
  background-color: #fff;
  padding: 5px 5px 5px 10px;
}

.join-us-button button {
  padding: 5px 20px;
  border: none;
}

.abroad-section {
  background-color: #EAEAEA;
}

.news-section {
  background-color: #EAEAEA;
}

.abroad-section h6 {
  background-color: #395723;
  padding: 10px;
  color: #fff;
}

.join-us-button {
  padding-bottom: 80px;
}

.fa-arrow-right {
  color: #F56726;
}

.partners-section button {
  border: none;
  display: block;
  padding: 5px 20px;
  margin: auto;
  background-color: #F56726;
  color: #fff;
}

.partners-section {
  background-color: #EAEAEA;
  color: #000;
}

.description-sectio {
  background-color: #EAEAEA;
  color: #000;
}

.date-input-section button {
  border: none;
  padding: 5px 20px !important;
}

.email-address {
  background-color: #123214;
  color: #fff;
}

.email-address button {
  background-color: #F56726;
  color: #fff;
}

.date-input-section {
  align-items: center;
  background-color: #123214;
}

.date-input-section button {
  background-color: #F56726;
  color: #fff;
}

.time-date-section {
  background-color: #0269D9;
  color: #fff;
  border: 2px solid #fff;
}

.email-contact {
  border: none;
  margin: auto;
  margin-bottom: 10px;
  display: block;
}

.upper-email {
  text-align: center;
}

.first-join-us-btn {
  background-color: #123214;
}

.first-join-us-btn button {
  background-color: #F56726;
  color: #fff;
}

.lower-description-section {
  background-color: #395723;
  color: #fff;
  margin-top: 10px;
}

.email-contact {
  height: 35px;
  margin-bottom: -3px;
  margin-top: 3px;
}

.image-display {
  height: 150px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  width: 90%;
}

.image-display-inner {
  flex: 1;
  background-image: url('./Logo/ug_logo.png'); 
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
}

.image-display-text {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.local-government {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.local-government span{
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  color: #123214;
}

.flag-section {
  background-color: #fff;
  flex: 1;
  margin-left: 10px;
  display: flex;
  padding: 10px;
}

.first-flag,
.last-flag {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.empty-one {
  flex: 1;
  background-color: #000;
}

.empty-two {
  flex: 1;
  background-color: yellow;
}

.empty-three {
  flex: 1;
  background-color: red;
}

.flag-text {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flag-text small {
  color: #123214;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.footer-section {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  background-image: url('./Logo/third.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

.footer-logo-image {
  width: 100px;
  height: 100px;
}

.grid-element {
  padding: 10px;
}

.grid-element h6 {
  font-size: 15px;
}

.social-media-links {
  display: flex;
}

.facebook-link,
.twitter-link,
.google-plus,
.instagram-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin-right: 5px;
  padding: 20px;
  background-color: #395723;
  cursor: pointer;
}

.header-styles {
  border-bottom: 2px solid green;
}

.left-copyright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-copyright {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.right-copyright a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.right-copyright a:hover {
  color: #F56726;
}

.about-heading {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #123214;
  width: 80%;
  margin: 20px auto 0;
}

.about-heading h2 {
  color: #fff;
  font-family: 'Roboto Slab', serif;
}

.about-us-content {
  width: 80%;
  margin: auto;
  background-color: #EAEAEA;
}

.about-us-content h5 {
  color: #123214;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.text-wrap {
  float: left;
  margin: 0 20px 0 0;
  width: 200px;
  height: 200px;
}

.donation-information {
  width: 80%;
  background-color: #123214;
  color: #fff;
  margin: 10px auto 0 ;
  text-align: center;
}

.photo-information {
  background-color: #123214;
  color: #fff;
}

.photo-information h2 {
  font-family: 'Roboto Slab', serif;
}

.donation-information h2 {
  font-family: 'Roboto Slab', serif;
}

.donation-information-details {
  width: 80%;
  padding: 10px;
  margin: auto;
  background-color: #EAEAEA;
}



.photo-information {
  width: 80%;
  margin: 10px auto 0;
  text-align: center;
}


.left-photos-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 2;
}

.first-image,
.second-image,
.third-image {
  margin-right: 5px;
  margin-bottom: 5px;
  height: 150px;
}

.social-media-contact i {
  font-size: 25px;
  padding: 3px 20px;
  background-color: #239;
  border-radius: 3px;
  margin-right: 10px;
  color: #fff;
}

.first-contact-section {
  flex: 3;
  padding: 5px;
  margin-right: 5px;
  background-color: #EAEAEA;
}

.second-contact-section {
  flex: 1;
  padding: 10px;
  margin-left: 10px;
  background-color: #EAEAEA;
}

.second-contact-section h5 {
  font-family: 'Roboto Slab', serif;
  color: #123214;
}

.second-contact-section p {
  background-color: #aaa;
  padding: 10px;
}

.social-media-contact {
  margin: auto;
  justify-content: flex-end;
  background-color: #aaa;
  padding: 10px 0;
}

.contact-lower-section {
  width: 80%;
  margin: auto;
  margin-top: 2px;
}

.first-image {
  background-image: url('./Logo/pexels-jonas-von-werne-1344000.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.second-image {
  background-image: url('./Logo/pexels-todd-trapani-1405930.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.third-image {
  background-image: url('./Logo/pexels-frank-cone-2439784.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.real-photos-section {
  width: 80%;
  background-color: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-photos-section {
  flex: 1;
  height: 300px;
  background-image: url('./Logo/pexels-torsten-dettlaff-59523.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.membership-images {
  background-color: #aaa;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-styles {
  font-family: 'Roboto Slab', serif;
}

.memebership-top {
  width: 400px;
  height: 200px;
  background-color: #888;
  margin-top: 10px;
  background-image: url('./Logo/pexels-torsten-dettlaff-59523.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.membership-bottom {
  display: flex;
}

.membership-left,
.membership-right {
  width: 150px;
  height: 150px;
  background-color: blue;
  margin: 10px;
}

.membership-left {
  background-image: url('./Logo//pexels-todd-trapani-1405930.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.membership-right {
  background-image: url('./Logo/pexels-brett-sayles-4839380.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.copyright-section h6 {
  color: #fff;
  font-size: 14px;
}

.copyright-section {
  background-color: #395723;
}

.model-div {
  z-index: 1;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 225px;
  right: 20px;
  cursor: pointer;
  background-color: #fff;
  overflow-y: auto;
}

.search-paragraph {
  cursor: pointer;
}

select {
  cursor: pointer;
  height: 40px;
  font-weight: bold;
  width: 130px;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

option {
  cursor: pointer;
}

.various-screen-nav {
  display: flex;
  flex: 2;
  justify-content: center;
}

.search-section {
  flex: 1;
  display: flex;
  justify-content: center;
}

.drop-down-icon {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 30px;
  display: none;
}


@media only screen and (max-width: 1076px) {
  .drop-down-icon {
    display: block;
  }

  .various-screen-nav {
    flex-direction: column;
  }

  .upper-nav-section {
    align-items: flex-start;
  }

  .various-screen-nav {
    flex: 1;
  }

  .search-section {
    flex: 1;
    padding-left: 10px;
  }

  .local-government span {
    font-size: 20px;
  } 
}

@media only screen and (max-width: 890px) {
  .element-details {
    top: 200px;
    height: unset;
    background-color: #666;
    width: 60%;
    padding: 10px;
  }

  .contact-lower-section {
    flex-direction: column;
  }

  .second-contact-section {
    margin: 5px 0;
  }

  .first-contact-section {
    margin: 5px 0;
  }

  .model-div {
    width: 60%;
    height: 200px;
  }

  .element-details h3 {
    font-weight: 700;
    font-size: 40px;
  }
}

@media only screen and (max-width: 780px) {

  .footer-section {
    grid-template-columns: 2fr 2fr;
  }

  .lower-home-section {
    flex-direction: column;

  }

  .right-home-section {
    padding: 5px 0 0 0;
  }

}

@media only screen and (max-width: 700px) {
  .nav-title {
    width: 95%;
  }

  .model-div {
    width: 80%;
    height: 180px;
    top: 250px;
  }
}

@media only screen and (max-width: 570px) {
  .element-details {
    width: 80%;
    left: 40px;
  }

  .facebook-link,
  .twitter-link,
  .google-plus,
  .instagram-link {
    width: 20px;
    height: 20px;
    background-color: #395723;
  }

  .footer-logo-image {
    width: 100px;
    height: 100px;
  }

  .right-copyright a {
    font-size: 12px;
  }

}